<footer>
    <div class="footer_contact">
        <div class="footer_background">
            <img src="/img/contact/Vector.png" class="footer_image" alt="Footer Image">
        </div>
    </div>
</footer>