<section class="co-section">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="contact-info">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-info_wrap">
                                    <div class="contact-info_desc">
                                        Write me an
                                        <span class="js-hover">
                                            <a href="mailto:hamaiz5502@gmail.com">email | hamaiz5502@gmail.com</a>
                                        </span><br>
                                        Call me on my
                                        <span class="js-hover">
                                            <a href="tel:11">phone</a>
                                        </span>
                                    </div>
                                    Or just use the contact Form
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="contact-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-form_wrap">
                                    <form action="/contact" method="post">
                                        <div class="contact-form_name">
                                            <input type="text" name="name" id="name" placeholder="Name">
                                        </div>
                                        <div class="contact-form_email">
                                            <input type="email" name="email" id="email" placeholder="Email">
                                        </div>
                                        <div class="contact-form_message">
                                            <textarea name="message" id="message" placeholder="Message"></textarea>
                                        </div>
                                        <button type="Submit" class="contact-form_button">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("./footer") %>