<header class=<%=textColor%>>
    <div class="header_text">
        ThanksDear
    </div>
    <div class="header_nav">
        <ul class="nav_list">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </div>
</header>