<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThanksDear | <%= title %> </title>


    <link href="https://fonts.googleapis.com/css?family=Vampiro+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/swiper/dist/css/swiper.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body id="body">
    <div class="page">
        <div class="preloader">
            <div class="spinner_wrap">
                <div class="loadingio-spinner-ripple-ugr7nh7oo19">
                    <div class="ldio-8b1cvn3jfm8">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cursor">
            <div class="alpha"></div>
        </div>

        <span class="menu_toggle">
            <i class="menu_open fa fa-bars fa-lg"></i>
            <i class="menu_close fa fa-times fa-lg"></i>
        </span>
        <ul class="menu_items">
            <li><a href="/"><i class="icon fa fa-home fa-2x"></i> Home</a></li>
            <li><a href="/about"><i class="icon fas fa-info fa-2x"></i> About</a></li>
            <li><a href="/contact"><i class="icon fa fa-phone fa-2x"></i> Contact</a></li>
        </ul>
        <div class="<%= mainStyle %> main">
            <div class="content_inner">
                <%- include("../partials/header") %>
                <%- body %>
            </div>
        </div>
    </div>


    <script src="/bootstrap.native/dist/bootstrap-native-v4.min.js"></script>
    <script src="/swiper/dist/js/swiper.min.js"></script>
    <script src="/gsap/dist/gsap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/animation.js"></script>
</body>

</html>