.main_three {
  background: url(/img/contact/background_3.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: left;
  z-index: 0;
}

.main_three::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #2e2eb8 0%, #3333cc 0.01%, #0f0f3d 100%);
}

.co-section {
  height: 80vh;
}

.footer_contact {
  height: 10vh;
  position: relative;
}

.footer_contact .footer_background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer_contact .footer_background .footer_image {
  z-index: 0;
  width: 100%;
  height: 7vh;
}
