<footer>
    <div class="footer_main">
        <div class="footer_background">
            <img src="/img/home/Vector.png" alt="Footer Image" class="footer_image">
        </div>
        <div class="footer_social-icons">
            <a href="/" target="_blank"><i class="fab fa-github"></i></a>
            <a href="/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="/" target="_blank"><i class="fab fa-google-plus"></i></a>
            <a href="/" target="_blank"><i class="fab fa-twitter"></i></a>
            </ul>
        </div>
    </div>
</footer>