<section class="fp-section">
    <div class="relative-fp">
        <div class="container-fluid">
            <div class="row justify-content-between">

                <div class="col-lg-4 d-lg-none d-block">
                    <div class="mainpage_text_first text-center">
                        <div class="small_text">I am</div>
                        <div class="large_text">
                            Full Stack<br>
                            Web Developer
                        </div>
                        <div class="small_text">and a partial</div>
                        <div class="large_text">Web Designer</div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="project_section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="project_header">
                                        Projects
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <aside>
                                        <div class="container_aside">

                                            <div class="card_aside background_pillowmart">
                                                <h3 class="title">Pillowmart</h3>
                                                <div class="disc">
                                                    This is a fully made shopping website.
                                                    NODE, HTML, CSS, JS
                                                </div>
                                                <div class="buttons">
                                                    <a href="https://pillowmart.herokuapp.com/" target="_blank"
                                                        rel="noopener noreferrer">View</a>
                                                    <a href="https://github.com/Hamaiz/pillowMart" target="_blank"
                                                        rel="noopener noreferrer">Code</a>
                                                </div>
                                            </div>

                                            <div class="card_aside">
                                                <h3 class="title">Messaging</h3>
                                                <div class="disc">
                                                    This is a fully made messaging site
                                                    React, Node
                                                </div>
                                                <div class="buttons">
                                                    <a href="/" target="_blank" rel="noopener noreferrer">View</a>
                                                    <a href="/" target="_blank" rel="noopener noreferrer">Code</a>
                                                </div>
                                            </div>

                                            <div class="card_aside background_movie">
                                                <h3 class="title">Movie </h3>
                                                <div class="disc">
                                                    This is a fully made Movie API website
                                                    React, Movie DB API
                                                </div>
                                                <div class="buttons">
                                                    <a href="https://movieeye.herokuapp.com/" target="_blank"
                                                        rel="noopener noreferrer">View</a>
                                                    <a href="https://github.com/Hamaiz/movie_app" target="_blank"
                                                        rel="noopener noreferrer">Code</a>
                                                </div>
                                            </div>

                                            <div class="card_aside">
                                                <h3 class="title">Card 4</h3>
                                                <div class="disc">
                                                    This is a fully made shopping website
                                                </div>
                                                <div class="buttons">
                                                    <a href="/" target="_blank" rel="noopener noreferrer">View</a>
                                                    <a href="/" target="_blank" rel="noopener noreferrer">Code</a>
                                                </div>
                                            </div>

                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 d-lg-block d-none">
                    <div class="container1">
                        <div class="rectangle"></div>
                    </div>
                    <div class="mainpage_text text-center">
                        <div class="small_text">I am</div>
                        <div class="large_text">
                            Full Stack<br>
                            Web Developer
                        </div>
                        <div class="small_text">and a partial</div>
                        <div class="large_text">Web Designer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("./footer") %>