<footer>
    <div class="footer_about">
        <div class="footer_background">
            <img src="/img/about/Vector.png" class="footer_image" alt="Footer Image">
        </div>
    </div>
</footer>