<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<section class="ab-section">
    <div class="container">
        <div class="row justify-content-between ">

            <div class="col-lg-5 ">
                <div class="about_carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="about-slider">
                                    <div class="about-slider_wrap swiper-wrapper">

                                        <div class="about-slider_item swiper-slide">
                                            <div class="about-slider_content">
                                                <div class="about-slider_name">
                                                    Ali Hamaiz
                                                </div>
                                                <div class="about-slider_location">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Islamabad
                                                </div>

                                            </div>
                                        </div>

                                        <div class="about-slider_item swiper-slide">
                                            <div class="about-slider_content">
                                                <div class="about-slider_content_heading">
                                                    Socail Media
                                                </div>
                                                <div class="about-slider_icons">
                                                    <a href="https://github.com/Hamaiz/" target="_blank"><i
                                                            class="fab fa-github"></i></a>
                                                    <a href="http://www.twitter.com/@AHamaiz" target="_blank"><i
                                                            class="fab fa-twitter"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="about-slider_item swiper-slide">
                                            <div class="about-slider_content">
                                                <span class="about-slider_code">
                                                    I am a front end as well as a backend web developer<br>
                                                    I have worked on quite a few projects and have a good experience.
                                                </span>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="about-slider_pagination"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about_description">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="about-info">
                                    <div class="about-info_desc">
                                        I am a Full-Stack Web Developer and a partial Designer.
                                    </div>
                                    <div class="about-info_list">
                                        <ul>
                                            <li>HTML, CSS, JS, Scss</li>
                                            <li>Node js, Express</li>
                                            <li>React, MERN stack</li>
                                            <li>Golang, PostgreSQL</li>
                                            <li>Figma</li>
                                        </ul>
                                    </div>
                                    <div class="about-info_icons">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<%- include("./footer") %>